<div ng-controller="NewPlaylistCtrl">
  <h3>New Playlist</h3>
  	
  	<form name="newPlaylistForm">

	  	Title <input name="title" ng-model="newPlaylist.title" ng-required="required" ng-maxlength="16" type="text">

	  	<div ng-show="newPlaylistForm.title.$touched && newPlaylistForm.song.$pristine" class="alert alert-warning">You need a song!</div>

	  	Song <input name="song" type="text" ng-model="newPlaylist.songs" ng-required="required" ng-maxlength="16"><br><br>

	  	<div ng-show="newPlaylistForm.song.$touched && newPlaylistForm.title.$pristine" class="alert alert-warning">You need a title!</div>

	  	<input type="submit" value="Create Playlist" ng-disabled="!newPlaylist.title || !newPlaylist.songs" ng-click="create(newPlaylist)" class="btn btn-success">
<!-- 	    <p>
		  <a class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span>Submit A Playlist</a>
		</p> -->

	</form>



</div>