<div ng-controller="NewPlaylistCtrl" class="thumbnail">
  <h3>{{ title || "New Playlist"}}</h3>
  	
  	<form name="newPlaylistForm">

  		<div ng-show="!title">

		  	Title <input name="title" ng-model="newPlaylist.name" ng-required="required" ng-maxlength="16" type="text">


		  	<input type="submit" value="Create Playlist" ng-disabled="!newPlaylist.name" ng-click="create(newPlaylist)" class="btn btn-success">
		</div>  	

	</form> 
	<!-- <ui-view></ui-view> -->
</div>


<!--   	<div ng-show="newPlaylistForm.song.$pristine" class="alert alert-warning">You need a song!</div> -->

<!-- 	  	<div ng-show="newPlaylist.title">
	  	Song <input name="song" type="text" ng-model="newPlaylist.songs" ng-required="required" ng-maxlength="16"><br><br>
	  	</div>

	  	<div ng-show="newPlaylistForm.song.$touched && newPlaylistForm.title.$pristine" class="alert alert-warning">You need a title!</div> -->